# ASSIGNMENT - Data Structure

1. What are data structures, and why are they important ?

ANSWER: Data structure is specialized format of storing,processing , analyzing and implumenting a data . They are important because we have different types of data some are mutable and immutable according to their requirements we use them .

2.  Explain the difference between mutable and immutable data types with examples ?

Answer: The difference between mutable and immutable data types is that when a mutable data types get executed it's value can be changed  while in immutable it's value can't be changed or replaced

3. What are the main differences between lists and tuples in Python ?

Answer : the difference between list and tuples are:-
list:

*   list dosen't have a fix length
*   mutable : once executed then it's value can be changed
*   list takes more memory incomparison to tuples and take more time to execute

tuples:

*    immutable : once data exected then it can't be changed
*    less time consuming incomparison to list
*    tuples have fixed length

4 . Describe how dictionaries store data ?

Answer : Dictionaries store data in key and value format that means a key is created with it's value . for example : d = {"name":"abhi"} name is key and abhi is it's value

5. Why might you use a set instead of a list in Python ?

Answer : We use set instead of list of python :      

 in set repetition of elements didn;t occur , if we get same input on the list then set eliminate same input and show only . so repetition will not occur.

 set have property like union , difference  that is important for us if we need to perform some operation in it or wanna filter data.

6 . What is a string in Python, and how is it different from a list ?

Answer :  string in python is different from a list :    

string is immutable.

Strings can be indexed and sliced to access individual characters or substrings, while lists can be accessed using indices to retrieve or modify elements.

 String methods like upper(), lower(), and replace() are tailored for text processing, while list methods like append(), remove(), and sort(), and copy() are specific to working with collections of items.

7. How do tuples ensure data integrity in Python ?

 Answer  :tuples ensures data integrity due to it's immutable feature that means once data executed can't be changed that makes data more secure and unchangable so, if anyone try to make changes in that data that is not possible

8.What is a hash table, and how does it relate to dictionaries in Python ?

Answer :A hash table is a data structure that store data in key-value pair where each key have it's unique value and it is related to dictionaries because in dictonaries data are stored in key- value pair that means a unique value is assigned to each key also when you add a key- value to a dictionary python applies a hash function to the key to generate a hash value . this hash value determines the index in the hash table where the value will be stored.

9.Can lists contain different data types in Python

Answer : yes we can store different data types in list . list is heterogenous so it can store any data type or data structure in python

10. Explain why strings are immutable in Python ?

Answer :- Strings are immutable because one created then it's data can't be changed but can be replaced in some situation

11. What advantages do dictionaries offer over lists for certain tasks ?

Answes : Advantages dictionaries offer over list for certain task are :         

dictonaries store value in key format so if we wanna access any value we can search it by it's key.

dictonaries doesn't allow duplicacy while in list duplicacy is common.

store unique value for each key

12.Describe a scenario where using a tuple would be preferable over a list ?

Answer : for storing confidential data like employee records and their pan card and their salary account tuple are more preferable over a list so that we can't change data after execution or once deployed

13.How do sets handle duplicate values in Python ?

Answer : Set handle duplicate values by eliminating them in result and showinh only one value . for example : set ={1,2,3,4,5,5,6,6,6,7} in result the sets will not show repeating values output will be like that {1,2,3,4,5,6,7}.

14.How does the “in” keyword work differently for lists and dictionaries ?

Answers :- "in" keyword work differently for lists and dictionaries in list it checks the value which written after in present in it or not and show boolean value like true and false but in case of dictanories it checks the key present in dictionary or not .

15.Can you modify the elements of a tuple? Explain why or why not ?

Answers:  You cannot modify the elements of a tuple in Python. This is because tuples are immutable, meaning once a tuple is created, its contents cannot be changed, added to, or removed.

16.What is a nested dictionary, and give an example of its use case ?

Answer : nested dictionary means dictionary inside a dictionary .It is used in cases where we wanna store some more data from another dictonary . By using nested dictionaries, you can represent complex data relationships in a compact and accessible way .

EXAMPLE : managing employee data . Each department dictionaries will be stored in whole company employee data so that we can use it when needed

17.Describe the time complexity of accessing elements in a dictionary ?

Answer :In Python, dictionaries are implemented using a hash table. This implementation provides very efficient access to elements, and the time complexity of accessing elements in a dictionary depends on several factors, including the operation being performed

18 .In what situations are lists preferred over dictionaries ?

Answers : The situations lists are preferred over dictonaries :     
when we wanna store data sequentially and ordered .

when we have to store simple data .

when we don't need keys to store it's value .

we can store many types of data types in list

19 . Why are dictionaries considered unordered, and how does that affect data retrieval ?

Answers : dictonaries considered unordered because dictionary store data in key and value format there is no index of data . It effects data retrieval in many ways like we can delete data efficiently by providing it's key . there is no index assigned to any value and much more

20.Explain the difference between a list and a dictionary in terms of data retrieval ?

 Answers : The difference between a list and a dictionary in terms of data retrieval lies in how the data is structured, how the elements are accessed, and the time complexity of retrieving elements.

 data is structured

 list stores data in ordered format while dictionary store it's data in key value format having each key it's unique value.

 you can access any element using it's element while to excess value in a dictionary you have to use a key .

 the elements are accessed

 in list elemnts are accessed by it's index and in dictionary we can access it by key .

# PRACTICAL QUESTION AND ANSWER

Write a code to create a string with your name and print it ?

In [ ]:
STRING1=("ABHISHEK")
print(STRING1)
type(STRING1)

ABHISHEK

str

Write a code to find the length of the string "Hello World ?

In [ ]:
str1 = ("Hello World")
print(len(str1))

11

Write a code to slice the first 3 characters from the string "Python Programming ?

In [ ]:
str2=("Python programming")
print(str2[0:3])

Pyt

Write a code to convert the string "hello" to uppercase ?

In [ ]:
str2=("hello")
str2.upper()

'HELLO'

Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
str3=("I like apple")
str3.replace("apple","orange")

'I like orange'

Write a code to create a list with numbers 1 to 5 and print it ?

In [ ]:
a = []
for i in range(1,6):
    a.append(i)
print(a)

[1, 2, 3, 4, 5]

Write a code to append the number 10 to the list [1, 2, 3, 4] ?

In [ ]:
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?

In [ ]:
list2=[1,2,3,4,5]
list2.remove(3)
print(list2)

#alternatively
list2=[1,2,3,4,5]
list2.pop(2) # here we used it's index to remove it
print(list2)

[1, 2, 4, 5]
[1, 2, 4, 5]

Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

In [ ]:
list3=['a','b','c','d']
list3[1]

'b'

Write a code to reverse the list [10, 20, 30, 40, 50] ?

In [ ]:
list4 = [10,20,30,40,50]
list4[::-1]

[50, 40, 30, 20, 10]

Write a code to create a tuple with the elements 10, 20, 30 and print it ?

In [ ]:
tuple= ()
for i in range(10,31,10):
    tuple = tuple + (i,)
print(tuple)

(10, 20, 30)

Write a code to access the first element of the tuple ('apple', 'banana', 'cherry') ?

In [ ]:
tuple2=('apple','banana','cherry')
tuple2[0]

'apple'

Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2) ?

In [ ]:
tuple=(1,2,3,2,4,2)
b =tuple.count(2)
print(f'the number of times 2 appears in tuple { b }')

the number of times 2 appears in tuple 3

Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit') ?

In [ ]:
tuple=('dog','cat','rabbit')
tuple.index('cat')

1

Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana'). ?

In [ ]:
tuple = ('apple','orange','banana')
"banana" in tuple

True

 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it ?

In [ ]:
del set
set1 =set()
for i in range (1,6):
  set1.add(i)
print(set1)

{1, 2, 3, 4, 5}

 Write a code to add the element 6 to the set {1, 2, 3, 4 } ?

In [ ]:
set ={1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

 Write a code to create a tuple with the elements 10, 20, 30 and print it ?

In [ ]:
tuple=()
for i in range(10,31,10):
  tuple =tuple+(i,)
print(tuple)

(10, 20, 30)

Write a code to access the first element of the tuple ('apple', 'banana', 'cherry') ?

In [ ]:
tuple =('apple','banana','cherry')
tuple[0]

'apple'